---
import Layout from "../../layouts/Layout.astro";

const allPosts = await Astro.glob("./posts/*.md");
---

<Layout title="Githubo Isle Landing Zone">
  <h2>Welcome to Githubo Isle!</h2>
  <p><a href="/githuboIsle/tags">All tags</a></p>
  <p>All Posts:</p>
  <ul>
    {
      allPosts.map((ele) => (
        <li>
          <a href={ele.url}>{ele.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
