---
import Layout from "../../../layouts/Layout.astro";

const allPosts = await Astro.glob("../posts/*.md");

const allTags = allPosts.map((ele) => ele.frontmatter.tags).flat();
const uniqueTags = [...new Set<any>(allTags)];
---

<Layout title="Githubo Isle All Tags">
  <h2>All tags in Githubo Isle!</h2>
  <ul class="tags">
    {
      uniqueTags.map((ele) => (
        <li class="tag">
          <a href={`/githuboIsle/tags/${ele}`}>{ele}</a>
        </li>
      ))
    }
  </ul>
</Layout>

<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
