---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Main Isle">
  <h1>This is the <span>Main Isle</span></h1>
</Layout>

<style lang="scss">
  h1 {
    color: aliceblue;
    span {
      color: yellow;
    }
  }
</style>
